.forms {
    background-color: #eee;
    padding: 20px;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 4px;
    width: 500px;
}

button {
    background-color: rgb(48, 131, 225);
    color: #fff;
    border-radius: 16px;
}

label {
    vertical-align: top;
}

/*  this is a way to specify CSS for a specific type
    of input. We could have just as easily created a 
    class and assigned that class to each "email" type
    input. Doing it 
input[type="email"]{
    margin-bottom:20px;
}